.Navbar {
    height: 90px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid goldenrod;
  }
  .h1-logo {
    padding: 20px;
  }
  .h1-logo a {
    text-decoration: none;
    color: white;
  }
  .h1-logo h1 {
    font-size: 30px;
  }
  div ul {
    padding: 20px;
  }
  div ul li {
    display: inline-block;
  }
  div ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 20px;
  }
  .selected {
    border-bottom: 1px solid goldenrod;
  }
  .right-side-nav ul li:not(:last-child) {
    margin-right: 15px;
  }
  .selected1:hover {
    color: goldenrod;
  }